.InsertButton{
    position: fixed;
    border: 0;
    bottom: 40px;
    right: 5%;
    width: 90%;
    height: 40px;
    color: #fff;
    background-color: #3C6496;
    border-radius: 12px;
    z-index: 400;
    cursor: pointer;
    font-family: AppleSDGothicNeo, HelveticaNeue, sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}

.InsertButton > a {
    width: 60px;
    margin: 0 auto;
}