.InsertButton{
    position: fixed;
    border: 0;
    bottom: 40px;
    right: 5%;
    width: 90%;
    height: 40px;
    color: #fff;
    background-color: #697FFF;
    border-radius: 12px;
    box-shadow: 2px 2px 0 0 rgba(192, 192, 192, 0.9);
    z-index: 400;
    cursor: pointer;
}

.InsertButton > a {
    width: 60px;
    margin: 0 auto;
}