.TwoButtonModal{
    width: 90%;
    margin: 0 auto;
}

.TwoButtonModal-area{
    margin-top: 1em;
    width: 100%;
}

.TwoButtonModal-area > .TwoButtonModal-btn {
    width: 45%;
}

.TwoButtonModal-area > .left{
    float: left;
}

.TwoButtonModal-area > .right{
    float: right;
}