.toggleHeader{
    position: relative;
    height: 40px;
}

.ToggleTap{
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    border-bottom: 1px solid #d3d6d8;
    background-color: #fff;
    height: 40px;
    box-shadow: none;
}
.ToggleTap-tap{
    text-align: center;
    display: inline-block;
    width: 50%;
}

.ToggleTap-left{
    float: left;
}
.ToggleTap-right{
    float: right;
}

/*active toggle color*/
.ToggleTap > .ocean{
    color: #65a6ff;
    border-bottom: 3px solid #65a6ff;
}
