.toggleHeader{
    position: relative;
    height: 40px;
}

.ToggleTap{
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    background-color: #C273CB;
    height: 40px;
    box-shadow: none;
}
.ToggleTap-tap{
    text-align: center;
    display: inline-block;
    width: 50%;
    color: rgba(255, 255, 255, .6);
}

.ToggleTap-left{
    float: left;
    margin-left: 2em;
    margin-right: 2em;
}
.ToggleTap-right{
    float: right;
    margin-left: 2em;
    margin-right: 2em;
}

/*active toggle color*/
.ToggleTap > .ocean{
    color: #fff;
    border-bottom: 3px solid #fff;
}
