.title-header{
    margin: -1em 0 1em 0;
    height: 40px;
}
.title-header nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d6d8;
    background-color: #f4f6f9;
    height: 40px;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
}
.header-right{

}
.header-left{

}
.title-header-center-name{flex: 1 auto;text-align: center;margin-right: 1em;font-weight: 700;}