.TitleHeader{
   /* height: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;*/
    position: relative;
    height: 40px;
}
.TitleHeader nav{
    position: fixed;
    display: flex;
    align-items: center;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    background-color: #C273CB;
    height: 40px;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
}
i.white.icon {
    color: #fff!important;
}
.TitleHeader-center-name{flex: 1 auto;text-align: center;margin-right: 1em;color: #fff;}