.ErrorBlock{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fb9678;
    color: #fff;
}

.on-error{
    top: 15%;
    transition: all .5s ease;
}

.top {
}