.CardItem{
    display: table;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.85rem;
    padding-bottom: 0.95rem;
    border-bottom: .1rem dashed #bdbdbd;
    font-family: AppleSDGothicNeo, HelveticaNeue, sans-serif !important;
}

.CardItem > .CardItem-info{
    display: table-cell;
    max-width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1rem;
    vertical-align: middle;
}

.CardItem > .CardItem-info-ext{
    display: table-cell;
    max-width: 100%;
    text-align: right;
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: 800;
}

.CardItem > .CardItem-info-title{
    font-size: 1rem;
    font-weight: 600;
    color: #575962;
}

.CardItem .CardItem-info-sub-title{
    font-size: .85rem;
    color: #7b7e8a;
}

.CardItem-info-ext > .ocean {
    color: #0088FE!important;
}

.CardItem-info-ext > .teal {
    color: #00C49F!important;
}

.CardItem-info-ext > .danger {
    color: #f4516c!important;
}

.CardItem-info-ext > .brand {
    color : #716aca!important;

}
.CardItem-info-ext > .darkGray{
    color : #595959!important;

}
