.login-nav-area{
    width: 100%;
    text-align: center;
    padding: 0 1em 3em 1em;
}

.split-tag{
    margin-right: 0.5em;
    margin-left: 0.5em;
    color:rgba(255,255,255,.6) !important;
}
.regist-user > a {
    color:rgba(255,255,255,.6) !important;
}
.find-pwd > a{
    color:rgba(255,255,255,.6) !important;
}