
.ContentList{

}
.ContentList_list{

}
.ContentList-left-title{
    float: left;
}
.ContentList-right-title{
    float: right;
}
.ContentList_content{
    clear: both;
}
.ContentList_content > .ui.progress:last-child {
    margin: 0!important;
}