.ToggleTap{
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    width: 100%;
}
.ToggleTap-tap{
    text-align: center;
    display: inline-block;
    width: 50%;
}

.ToggleTap-left{
    float: left;
}
.ToggleTap-right{
    float: right;
}

/*active toggle color*/
.ToggleTap > .ocean{
    color: #65a6ff;
    border-bottom: 3px solid #65a6ff;
}
