.MainHeader{
    position: relative;
    height: 50px;
}
.MainHeader nav{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #78CCDD;
    background-color: #78CCDD;
    height: 50px;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #f6f7f7;

}

.MainHeader-left-title{
    color: #fff;
}
.MainHeader-left-title:hover{
    color: #fff;
}
.MainHeader .MainHeader-left{

}
.flex-auto{flex: 1 auto;}