.bck-list-form{
    margin-top: 0.2em;
    padding: 0.5em 0.5em 20em 0.5em;
    display: block;
}

.non-bck-list{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-size: 17px;
    font-family: AppleSDGothicNeo, HelveticaNeue, sans-serif;
    display: block;
    color: #888;
    font-weight: bold;
}
