.CardBlock{
    background-color: #fff;
    margin-bottom: 1.5rem;
}

.CardBlock-shadow{
    -webkit-box-shadow: 3px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 3px 5px rgba(0, 0, 0, .1);
    box-shadow: 3px 5px rgba(0, 0, 0, .1);
}
.Radius-Block{
    border-radius: 5px;
}
.CardBlock > .CardBlock-header{
    display: table;
    padding: 0;
    width: 100%;
    padding: 1rem 1rem 1rem 2.2rem;
    height: 3.1rem;
    border-bottom: 0.1rem solid #ebedf2;
}
.CardBlock-header > .CardBlock-header-title{
    font-size: 1.1rem;
    font-weight: 600;
    color: #575962;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.CardBlock-header > .CardBlock-header-sub-area{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.CardBlock > .CardBlock-body{

    height: calc(100% - 2.2rem - 2.2rem);
    color: #575962;
    padding: 0.8rem 1rem 2.2rem 1rem;
}