.side-menu{
    display: block!important;
    z-index: 500;
    position: fixed;
    top: 0;
    background-color: #fff;
    bottom: 0;
    overflow-y: auto;
    -webkit-transform: translate3d(0,0,0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 215px!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    right : -225px;
}
.side-menu-on{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    right: 0;
}
.side-menu-wrapper{
    padding: 40px 0 30px 0;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
}

.side-menu-wrapper > .side-menu-item{
    display: block;
    float: none;
    height: auto;
    padding: 0;
    position: relative;
    margin: 0;
    color: #54667a;
}

.side-menu-wrapper > .side-menu-item > a{
    color: #54667a;
}

.side-menu-wrapper > .side-menu-item .item-menu-link{
    padding: 9px 10px 9px 30px !important;
    height: 44px;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    text-decoration: none;
    position: relative;
    outline: 0;
    padding: 0;
}



.side-close-btn{
    color: #54667a;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    right: 189px;
    width: 25px;
    height: 25px;
    top: 5px;
    z-index: 1002;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    outline: 0!important;
    text-align: center;
    vertical-align: center;
    display: inline-block;
}
